[Unit]
Description=Jibri Process
Requires=jibri-icewm.service jibri-xorg.service
After=network.target

[Service]
User=jibri
Group=jibri
PermissionsStartOnly=true
ExecStartPre=sudo -u jibri /usr/bin/google-chrome --timeout=1000 --headless about:blank
ExecStart=/opt/jitsi/jibri/launch.sh
ExecStop=/opt/jitsi/jibri/graceful_shutdown.sh
ExecReload=/opt/jitsi/jibri/reload.sh
Restart=always
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
