Source: jibri
Maintainer: dev@jitsi.org
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: jibri
Architecture: all
Depends: default-jre-headless | java8-runtime-headless | java8-runtime, ffmpeg, curl, alsa-utils, icewm, xdotool, xserver-xorg-input-void, xserver-xorg-video-dummy
Description: Jibri
 Jibri can be used to capture data from a Jitsi Meet conference and record it to a file or stream it to a url
