[Unit]
Description=Jibri Process
Requires=jibri-icewm.service jibri-xorg.service
After=network.target

[Service]
User=jibri
Group=jibri
#WorkingDirectory=/home/jibri/scripts
PermissionsStartOnly=true
#ExecStartPre=/bin/mkdir -p /var/run/jibri
#ExecStartPre=/bin/chown jibri /var/run/jibri
#ExecStart=/home/jibri/jibri-xmpp-client/app.py
ExecStart=/opt/jitsi/jibri/launch_jibri.sh
ExecStop=/opt/jitsi/jibri/shutdown_jibri.sh
#ExecReload=/bin/kill -HUP $MAINPID
ExecReload=/opt/jitsi/jibri/reload_jibri.sh
KillMode=process
Restart=always
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
